name: Deploy GitHub Pages

on:
  push:
    branches:
      - master
      - main
  workflow_dispatch:

concurrency:
  group: gh-pages

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install
        uses: ./.github/actions/node-install
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Repository Basename
        id: repository-basename
        run: |
          echo "value=`basename ${{ github.repository }}`" >> $GITHUB_OUTPUT
        shell: bash

      - name: Build
        run: pnpm build
        env:
          BASE_URL: '/${{ steps.repository-basename.outputs.value }}/'

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./packages/playground/dist

  deploy:
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
